

<div class="row justify-content-center">
        <div class="col-lg-10  text-center">
<div class='text'>
    <p class="custom-font-size-2 font-weight-light mb-4 pb-3 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" style="animation-delay: 600ms;">
    {{ block.data.text|raw }}
    </p>

</div>
</div>
</div>