<nav class="collapse">
												<ul class="nav nav-pills" id="mainNav">
													<li><a href="{{path('index')}}" class="nav-link active" data-hash data-hash-offset="0" data-hash-offset-lg="70">Home</a></li>
													<li><a href="{{path('alt')}}" class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="255">Alt</a></li>
													<li><a href="{{path('cms', { 'slug' : 'home'})}}" class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="35">Team</a></li>
													<li><a href="{{path('cms.editor')}}" class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="120">Verwaltung</a></li>
													<!--<li><a href="#pricing" class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="135">Pricing</a></li>
													<li><a href="#blog" class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="70">Blog</a></li>
													<li><a href="#footer" class="nav-link" data-hash data-hash-offset="0" data-hash-offset-lg="70">Contact</a></li>-->
												</ul>
											</nav>