

    {% block home %}
    <section id="home" class="section section-with-shape-divider custom-bg-color-1 border-0 pt-0 m-0">
		<div class="shape-divider shape-divider-bottom" style="height: 243px;">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 2000 245" preserveAspectRatio="xMinYMin">
							<path fill="#FFF" opacity="0.5" d="M2028.47,246.15v-39.09C1945.6,199.68,1869.96,195.8,1803,194c-71.99-1.93-137.53-4.37-225,1
								c-88.04,5.4-120.19,13.36-233,19c-55.14,2.76-102.19,5-165,3c-37.5-1.2-102.55-4.6-200-19c-89.42-13.21-145.61-26.73-276-57
								C520.19,98.33,428.29,76.99,402,72C243.75,41.93,118.41,28.67,37,22c-26.77-2.19-49.49-3.73-66.33-4.77v229.03h2057.82
								C2028.48,246.22,2028.47,246.19,2028.47,246.15z"/>
							<path fill="#FFF" d="M1816,212c-58.78-4.11-116.63-8.07-195-9c-43.43-0.51-105.81-1.13-187,4c-33.73,2.13-29.27,2.64-127,10
								c-86.52,6.52-110.13,7.64-137,8c-11.31,0.15-53.81,0.58-110-3c-54.49-3.47-108.08-9.83-185-23c-69.21-11.85-114.89-21.96-202-41
								c-262.93-57.46-291.75-62.62-318-67C229.24,70,155.97,65.58,121,64C60.05,61.24,8.67,62.27-28.77,63.95v187.41H2028V232
							C1943.49,221.98,1871.42,215.88,1816,212z"/>
						</svg>
					</div>


				
					<div class="custom-section-svg pt-5 pb-5 pb-md-0 mb-5 mb-md-0">
						<div class="custom-section-svg-background appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="2300" style="background-image: url({{asset('/img/demos/startup-agency/backgrounds/morphing-bg-1.jpg')}}); background-size: cover; background-position: center;"></div>
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
							 viewBox="0 0 2000 935" xml:space="preserve" data-appear-animation-svg="true" data-plugin-float-element-svg="true">
							<linearGradient id="gradient_SVG_1_" class="custom-svg-linear-gradient" gradientUnits="userSpaceOnUse" x1="1608.6167" y1="668.754" x2="1197.4358" y2="257.5732">
								<stop  offset="3.745963e-03" style="stop-color:#5349FF"/>
								<stop  offset="1" style="stop-color:#0088CC"/>
							</linearGradient>

							<linearGradient id="gradient_SVG_2_" class="custom-svg-linear-gradient" gradientUnits="userSpaceOnUse" x1="1621.6152" y1="666.8627" x2="1207.4606" y2="252.708">
								<stop  offset="3.745963e-03" style="stop-color:#5349FF"/>
								<stop  offset="1" style="stop-color:#0088CC"/>
							</linearGradient>

							<linearGradient id="gradient_SVG_3_" class="custom-svg-linear-gradient" gradientUnits="userSpaceOnUse" x1="1557.4893" y1="663.6315" x2="1192.9751" y2="299.1174">
								<stop  offset="3.745963e-03" style="stop-color:#5349FF"/>
								<stop  offset="1" style="stop-color:#0088CC"/>
							</linearGradient>
							<g>
								<g>
									<!-- Start -->
									<path id="st0_start" fill="#EFF1F3" d="M1642,423.5c9.3,66.75-24.25,126.31-33,128c5.86,0.61-66.08,138.04-289,165
										c-218.43,26.42-240.8-178.27-236-187.26c0,0-1.72-21.98,7-57.74c0,0,16.97-79.91,153-161s257.67-66.4,257.67-66.4
										s77.61-10.46,123.82,108.12c12.53,32.16,17.04,61.49,16.97,87.18H2018V-0.5H-25v935h2043v-511H1642z"/>

									<!-- End -->
									<path id="st0_end" fill="#EFF1F3" d="M1642,423.5c9.3,66.75-12.25,127.31-21,129c9.59,29.36-56.22,260.83-305,200
										c-324.35-79.31-237.27-195.4-232-223.26c0,0-1.72-21.98,7-57.74c0,0,16.97-79.91,153-161s257.67-66.4,257.67-66.4
										c23.05-7.68,166.63-57.11,138.33,109.4c-6.22,36.59,6.91,63.11,2.46,85.9H2018V-0.5H-25v935h2043v-511H1642z" style="visibility: hidden;" />
								</g>
							</g>
							<g>
								<!-- Start -->
								<g class="appear-animation" fill="url(#gradient_SVG_3_)" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1500">
									<g opacity="0.2">
										<path id="st1_start" d="M1679,417.5c0,0,0-190-210-282c-177.63-77.82-272.97,156.29-298.15,230.32c19.25-16.7,43.09-34.25,72.59-51.83
											c136.03-81.09,257.23-68.89,257.23-68.89s77.61-10.46,123.82,108.12s-16.57,198.81-16.57,198.81S1535.12,694.08,1318,718.5
											c-41.7,4.69-77.69-0.59-106-10c53.85,55.08,154.68,120.29,280,56C1685,665.5,1679,417.5,1679,417.5z" />
									</g>
								</g>
								<g class="appear-animation" fill="url(#gradient_SVG_2_)" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1700">
									<g opacity="0.5">
										<path id="st2_start" d="M1594,207.5c-213.29-96.1-368.83,26.65-427.9,86.58c-17.02,17.27-31.29,37.04-42.43,58.57
											C1044.11,506.47,1100,600.5,1100,600.5s0.47,1.17,1.58,3.29c0.67,1.27,2.57,0.32,1.98-0.98c-17.26-38.06-20.44-71.25-20.56-72.54
											c0-0.03,0-0.05,0-0.08c0.01-1.01,0.24-20.11,8.72-54.89c0,0,15.7-80.22,151.72-161.31c134.11-79.95,253.81-69.21,257.16-68.89
											c0.05,0.01,0.09,0,0.14,0c2.63-0.32,78.34-8.38,123.75,108.13c45.6,117.02-14.92,196.68-16.53,198.77
											c-0.02,0.03-0.04,0.05-0.06,0.09c-1.54,2.91-74.68,138.86-289.47,163.01c-3.1,0.35-6.16,0.65-9.17,0.9
											c-1.28,0.11-1.37,1.94-0.11,2.18c10.44,1.97,21.38,3.76,32.85,5.33c87.49,12.01,153.65,2.68,200.67-11.89
											c53.53-16.59,98.13-54,124.26-103.57C1719.67,508.01,1797.72,299.29,1594,207.5z"/>
									</g>
								</g>
								<g class="appear-animation" fill="url(#gradient_SVG_1_)" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1900">
									<path id="st3_start" d="M1665,334.5c-45.71-117.3-115-122-137.28-124.26c-3.67-0.37-7.37,0.02-11.05-0.16
										c-28.83-1.41-152.25-1.91-288.67,79.42c-156,93-174,185-174,185c-0.89,3.67-1.71,7.18-2.45,10.54c-7.21,32.69-6.42,66.6,2.4,98.74
										h41.91c-2.45-6.83-4.46-13.32-6.08-19.26c-6-21.92-6.92-44.93-2.79-67.27c1.19-6.42,2.73-13.75,4.73-21.94
										c0,0,15.7-80.22,151.72-161.31c118.77-70.81,226.25-70.48,251.6-69.26c3.28,0.16,6.55,0.18,9.83,0.14
										c16.75-0.19,79.82,6.24,119.62,108.36c40.49,103.89-2.68,178.34-14,195.19c-1.63,2.43-3.05,4.99-4.73,7.39
										c-12.42,17.79-102.26,129.97-287.33,159.29c-124.69,19.75-187.89-58.02-214.88-112.28l-4.21-9.86l3.01,7.16
										c-1.06-2.41-2.06-4.8-3.01-7.16c-1.11-2.77-11.34-31.46-11.34-35.46l-38,6c-1,4,6.76,29.79,8.24,33.99
										c1.89,5.36,4.02,10.91,6.42,16.58c28.54,67.53,95.33,152.74,249.34,135.43c223.71-25.16,313.43-156.05,329.34-182.38
										c1.74-2.88,3.54-5.72,5.42-8.5C1661.47,539.8,1711.64,454.19,1665,334.5z"/>
								</g>

								<!-- End -->
								<path id="st1_end" fill="url(#gradient_SVG_3_)" opacity="0.2" d="M1679,417.5c62.71-42.92-218.73-499.06-325-255c-16.11,37-157.97,129.29-183.15,203.32
									c19.25-16.7,43.09-34.25,72.59-51.83c136.03-81.09,257.23-68.89,257.23-68.89c22.57-3.36,175.75-42.15,148.33,107.4
									c-21.09,114.99,14.61,207.14-26,208c-7.12,36.19-72.31,261.51-279,182c-39.16-15.07-101.62-26.65-129.93-36.07
									c143.83,97.85,222.48,64.02,274.93,79.07C1723.19,852.69,1679,417.5,1679,417.5z" style="visibility: hidden;" />
								<path id="st2_end" fill="url(#gradient_SVG_2_)" opacity="0.5" d="M1594,207.5c-222.99,2.57-368.83,26.65-427.9,86.58c-17.02,17.27-31.29,37.04-42.43,58.57
									C1044.11,506.47,1100,600.5,1100,600.5s0.47,1.17,1.58,3.29c0.67,1.27,2.57,0.32,1.98-0.98c-17.26-38.06-20.44-71.25-20.56-72.54
									c0-0.03,0-0.05,0-0.08c0.01-1.01,0.24-20.11,8.72-54.89c0,0,15.7-80.22,151.72-161.31c134.11-79.95,253.81-69.21,257.16-68.89
									c0.05,0.01,0.09,0,0.14,0c29.13-2.05,189.7-51.48,142.26,106.41c-31.91,106.21,23.18,203.99-21,204c-0.04,0-3,4.96-3,5
									c-3.73,41.6-125,260-322,184c-2.91-1.12-3.98-16.25-7-16c-1.28,0.11,15.74,4.76,17,5c10.44,1.97,24.53-1.57,36,0
									c87.49,12.01,152.65-7.32,199.67-21.89c53.53-16.59,127.59-47.63,124.26-103.57C1658.03,458.37,1823.15,204.86,1594,207.5z" style="visibility: hidden;" />
								<path id="st3_end" fill="url(#gradient_SVG_1_)" d="M1676,334.5c32.04-120.61-126-122-148.28-124.26c-3.67-0.37-7.37,0.02-11.05-0.16
									c-28.83-1.41-152.25-1.91-288.67,79.42c-101.44,60.48-129.31,109.96-136.39,137.17c-4.86,18.69-0.02,42.19-14.61,54.83
									c-5.76,4.99-23,15-27,23c-14.97,29.94-4.87,47.14,3.95,79.28h41.91c-2.45-6.83-4.46-13.32-6.08-19.26
									c-6-21.92-12.11-37.85,8.22-48.02c28-14,31.5-30.39,31-55c-0.73-35.47,5.73-50.85,30.94-78.33c17.88-19.5,43.67-38.78,82.06-61.67
									c118.77-70.81,227.69-77.99,253.04-76.77c3.28,0.16,6.55,0.18,9.83,0.14c16.75-0.19,150.7,3.26,119.62,108.36
									C1591,466.5,1631.05,507.4,1613,543.5c-7,14-13.49,25.49-15,28c-13.45,22.36-99,190-279.57,143.59
									c-126.62-32.54-188.65-54.45-214.88-112.28l-4.21-9.86l3.01,7.16c-1.06-2.41-2.06-4.8-3.01-7.16
									c-1.11-2.77-11.34-31.46-11.34-35.46l-38,6c-1,4,6.76,29.79,8.24,33.99c1.89,5.36,4.02,10.91,6.42,16.58
									c28.54,67.53,85.29,90.05,222.34,162.43c178,94,303.08-120.67,319-147c1.74-2.88,31-46,45-72C1663.82,533.69,1642,462.5,1676,334.5
									z" style="visibility: hidden;" />
							</g>
							<g class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="1500" data-appear-animation-duration="2s">
								<circle fill="#DFDFDB" cx="128.5" cy="446" r="11.5"/>
								
								<g data-plugin-float-element data-plugin-options="{'startPos': 'bottom', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
									<circle class="custom-svg-fill-color-secondary" fill="#4F4BFC" cx="1051" cy="367.5" r="33"/>
									<circle fill="#EFF1F3" cx="1051.61" cy="368.11" r="29.94"/>
								</g>
								
								<g data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
									<circle class="custom-svg-fill-color-secondary" fill="#4F4BFC" cx="1615" cy="734.5" r="17"/>
									<circle fill="#EFF1F3" cx="1615.31" cy="734.81" r="15.43"/>
								</g>
								<circle fill="#DFDFDB" cx="635.5" cy="519" r="6.5" data-plugin-float-element data-plugin-options="{'startPos': 'bottom', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}" />
								
								<circle fill="#DFDFDB" cx="647.5" cy="183" r="10.5" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}"/>
								
								<g data-plugin-float-element data-plugin-options="{'startPos': 'bottom', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
									<circle class="custom-svg-fill-color-primary" fill="#0088CC" cx="1638" cy="163.5" r="23"/>
									<circle fill="#EFF1F3" cx="1638.43" cy="163.93" r="20.87"/>
								</g>
							</g>
							<g class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="1800" data-appear-animation-duration="2s">
								<g data-plugin-float-element data-plugin-options="{'startPos': 'bottom', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
									<circle class="custom-svg-fill-color-secondary" fill="#4F4BFC" cx="264" cy="303.5" r="27"/>
									<circle fill="#EFF1F3" cx="264.5" cy="304" r="24.5"/>
								</g>
								<g data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}">
									<circle class="custom-svg-fill-color-primary" fill="#0088CC" cx="857" cy="644.5" r="17"/>
									<circle fill="#EFF1F3" cx="857.31" cy="644.81" r="15.43"/>
								</g>
								<circle fill="#DFDFDB" cx="958.5" cy="427" r="10.5" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}"/>
								<circle class="custom-svg-fill-color-secondary" fill="#908DFA" cx="1576" cy="762.5" r="14" data-plugin-float-element data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}"/>
								<circle class="custom-svg-fill-color-secondary" fill="#908DFA" cx="1139" cy="216.5" r="8" data-plugin-float-element data-plugin-options="{'startPos': 'bottom', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}"/>
							</g>
						</svg>
						<div class="container mt-5 pt-5">
							<div class="row align-items-center pt-5 mt-5 mt-lg-0 pt-lg-0">
								<div class="col-lg-6">
									<h1 class="font-weight-bold text-12 mb-2 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1200">VENDERY</h1>
									<h2 class="font-weight-medium text-9 mb-3 pb-1 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1400">Dein neues Shopping Erlebnis</h2>
									<p class="custom-font-secondary custom-font-size-1 mb-4 pb-2 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1600">Willkommen zum nächsten Level des E-Commerce. Persönlicher. Transparenter. Informativer. Erlebe Produkte durch den Bildschirm, wie als wären sie bei dir vor Ort.</p>
									<a href="#" class="btn btn-gradient text-3 font-weight-bold px-5 py-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="1800">Get Started</a>
								</div>
							</div>
						</div>
					</div>
					<div class="spacer mb-5 pb-5 pb-xl-0 mb-xl-0"></div>
				</section>
        
    {% endblock %}

