<section id="team" class="section section-with-shape-divider custom-bg-color-1 border-0 m-0">
					<div class="shape-divider" style="height: 385px;">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 385" preserveAspectRatio="xMinYMin">
							<circle class="custom-svg-fill-color-secondary" fill="#9DA3F6" opacity="0.2" cx="57" cy="181" r="161"></circle>
							<circle class="custom-svg-fill-color-secondary" fill="#5349FF" opacity="0.3" cx="75.5" cy="158.5" r="169.5"></circle>
							<path fill="#FFFFFF" opacity="0.5" d="M-35,226c17.66,1.2,43.63,2.44,75,2c83.48-1.18,144.86-13.49,188-22c224.54-44.3,165.12-27.27,310-59
								c133.16-29.16,128.14-31.45,223-52c206.26-44.68,317.22-68.72,460-68c97.61,0.49,73.58,11.86,293,25c164.22,9.83,250.54,7.83,279,7
								c102.76-2.99,187.96-12.01,248-20c0-24.69,0-49.37,0-74.06c-694.67,0-1389.33,0-2084,0C-40.33,51.96-37.67,138.98-35,226z"></path>
							<path fill="#FFFFFF" d="M-37,185c17.21,1.44,42.06,3.17,72,4c81.96,2.26,170.2-3.07,325-30c54.07-9.4,98.99-18.41,221-45
								c255.1-55.59,223.26-53.86,287-64c57.13-9.09,228.37-36.32,423-18c36.66,3.45,96.62,10.63,187,14c16.19,0.6,75.77,2.66,156,1
								c90.18-1.87,157.94-7.44,248-15c46.95-3.94,99.2-8.84,156-15c0-12.82,0-25.65,0-38.47c-692.67,0-1385.33,0-2078,0
								C-39,47.35-38,116.18-37,185z"></path>
						</svg>
					</div>
					<div class="container position-relative z-index-3 pt-md-5 pb-1 pb-sm-5 my-5">
						<div class="row justify-content-center pt-5">
							<div class="col-lg-10 text-center">
								<span class="text-color-grey positive-ls-2 font-weight-medium custom-font-size-2 d-block mb-1 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200" style="animation-delay: 200ms;">OUR TEAM</span>
								<h2 class="font-weight-bold text-10 mb-4 appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400" style="animation-delay: 400ms;">We Are Passionate</h2>
								<p class="custom-font-size-2 font-weight-light appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" style="animation-delay: 600ms;">Vestibulum auctor felis eget orci semper vestibulum. Pellentesque ultricies nibh gravida, accumsan libero luctus, molestie nunc. In nibh ipsum, blandit id faucibus ac, finibus vitae dui.</p>
							</div>
						</div>
						<div class="row mb-5 mb-lg-0">
							<div class="col">
								<div class="custom-svg-wrapper-2">
									<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1736 315" data-plugin-float-element-svg="true">
										<g data-plugin-float-element="" data-plugin-options="{'startPos': 'top', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}" style="top: 0px; transition: transform 2000ms ease-out 0ms; transform: translate3d(0px, 9.97804%, 0px);">
											<circle fill="#DFDFDB" cx="145.5" cy="31.5" r="9.5"></circle>
										</g>
										<g data-plugin-float-element="" data-plugin-options="{'startPos': 'bottom', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}" style="bottom: 0px; transition: transform 2000ms ease-out 0ms; transform: translate3d(0px, -6.48541%, 0px);">
											<circle class="custom-svg-fill-color-secondary" fill="#4F4BFC" cx="75" cy="128" r="17"></circle>
											<circle fill="#eff1f3" cx="74.69" cy="128.31" r="15.43"></circle>
										</g>
										<g data-plugin-float-element="" data-plugin-options="{'startPos': 'bottom', 'speed': 0.2, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}" style="bottom: 0px; transition: transform 2000ms ease-out 0ms; transform: translate3d(0px, -9.77849%, 0px);">
											<circle class="custom-svg-fill-color-secondary" fill="#4F4BFC" cx="1693" cy="201.5" r="17"></circle>
											<circle fill="#eff1f3" cx="1693.31" cy="201.81" r="15.43"></circle>
										</g>
										<g data-plugin-float-element="" data-plugin-options="{'startPos': 'top', 'speed': 0.3, 'isInsideSVG': true, 'transition': true, 'transitionDuration': 2000}" style="top: 0px; transition: transform 2000ms ease-out 0ms; transform: translate3d(0px, 6.65877%, 0px);">
											<circle fill="#DFDFDB" cx="1620.5" cy="295.5" r="9.5"></circle>
										</g>
									</svg>
									<div class="appear-animation animated fadeInUpShorter appear-animation-visible" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800" style="animation-delay: 800ms;">
										<div class="owl-carousel custom-dots-style-1 owl-theme owl-loaded owl-drag owl-carousel-init" data-plugin-options="{'responsive': {'0': {'items': 1}, '476': {'items': 2}, '768': {'items': 3}, '992': {'items': 3}, '1200': {'items': 4}}, 'autoplay': false, 'autoplayTimeout': 5000, 'autoplayHoverPause': true, 'dots': true, 'nav': false, 'loop': true, 'margin': 30, 'stagePadding': 15}" style="height: auto;">
											
											
											
											
											
										<div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-1176px, 0px, 0px); transition: all 0s ease 0s; width: 3852px; padding-left: 15px; padding-right: 15px;"><div class="owl-item cloned" style="width: 264px; margin-right: 30px;"><div>
												<a href="#" class="text-decoration-none">
													<div class="card custom-card-style-1 box-shadow-4 my-3">
														<div class="card-body p-3">
															<div class="thumb-info thumb-info-hide-wrapper-bg mb-3 pb-2">
																<div class="thumb-info-wrapper">
																	<img src="img/demos/startup-agency/authors/author-2.jpg" class="img-fluid" alt="John Doe">
																</div>
															</div>
															<h3 class="text-center font-weight-bold text-capitalize line-height-1 text-5 text-color-hover-primary mb-0">John Doe</h3>
															<p class="text-center text-color-grey text-3 mb-2">CEO &amp; Founder</p>
														</div>
													</div>
												</a>
											</div></div><div class="owl-item cloned" style="width: 264px; margin-right: 30px;"><div>
												<a href="#" class="text-decoration-none">
													<div class="card custom-card-style-1 box-shadow-4 my-3">
														<div class="card-body p-3">
															<div class="thumb-info thumb-info-hide-wrapper-bg mb-3 pb-2">
																<div class="thumb-info-wrapper">
																	<img src="img/demos/startup-agency/authors/author-3.jpg" class="img-fluid" alt="John Doe">
																</div>
															</div>
															<h3 class="text-center font-weight-bold text-capitalize line-height-1 text-5 text-color-hover-primary mb-0">John Doe</h3>
															<p class="text-center text-color-grey text-3 mb-2">CEO &amp; Founder</p>
														</div>
													</div>
												</a>
											</div></div><div class="owl-item cloned" style="width: 264px; margin-right: 30px;"><div>
												<a href="#" class="text-decoration-none">
													<div class="card custom-card-style-1 box-shadow-4 my-3">
														<div class="card-body p-3">
															<div class="thumb-info thumb-info-hide-wrapper-bg mb-3 pb-2">
																<div class="thumb-info-wrapper">
																	<img src="img/demos/startup-agency/authors/author-1.jpg" class="img-fluid" alt="John Doe">
																</div>
															</div>
															<h3 class="text-center font-weight-bold text-capitalize line-height-1 text-5 text-color-hover-primary mb-0">John Doe</h3>
															<p class="text-center text-color-grey text-3 mb-2">CEO &amp; Founder</p>
														</div>
													</div>
												</a>
											</div></div><div class="owl-item cloned" style="width: 264px; margin-right: 30px;"><div>
												<a href="#" class="text-decoration-none">
													<div class="card custom-card-style-1 box-shadow-4 my-3">
														<div class="card-body p-3">
															<div class="thumb-info thumb-info-hide-wrapper-bg mb-3 pb-2">
																<div class="thumb-info-wrapper">
																	<img src="img/demos/startup-agency/authors/author-2.jpg" class="img-fluid" alt="John Doe">
																</div>
															</div>
															<h3 class="text-center font-weight-bold text-capitalize line-height-1 text-5 text-color-hover-primary mb-0">John Doe</h3>
															<p class="text-center text-color-grey text-3 mb-2">CEO &amp; Founder</p>
														</div>
													</div>
												</a>
											</div></div><div class="owl-item active" style="width: 264px; margin-right: 30px;"><div>
												<a href="#" class="text-decoration-none">
													<div class="card custom-card-style-1 box-shadow-4 my-3">
														<div class="card-body p-3">
															<div class="thumb-info thumb-info-hide-wrapper-bg mb-3 pb-2">
																<div class="thumb-info-wrapper">
																	<img src="img/demos/startup-agency/authors/author-1.jpg" class="img-fluid" alt="John Doe">
																</div>
															</div>
															<h3 class="text-center font-weight-bold text-capitalize line-height-1 text-5 text-color-hover-primary mb-0">John Doe</h3>
															<p class="text-center text-color-grey text-3 mb-2">CEO &amp; Founder</p>
														</div>
													</div>
												</a>
											</div></div><div class="owl-item active" style="width: 264px; margin-right: 30px;"><div>
												<a href="#" class="text-decoration-none">
													<div class="card custom-card-style-1 box-shadow-4 my-3">
														<div class="card-body p-3">
															<div class="thumb-info thumb-info-hide-wrapper-bg mb-3 pb-2">
																<div class="thumb-info-wrapper">
																	<img src="img/demos/startup-agency/authors/author-2.jpg" class="img-fluid" alt="John Doe">
																</div>
															</div>
															<h3 class="text-center font-weight-bold text-capitalize line-height-1 text-5 text-color-hover-primary mb-0">John Doe</h3>
															<p class="text-center text-color-grey text-3 mb-2">CEO &amp; Founder</p>
														</div>
													</div>
												</a>
											</div></div><div class="owl-item active" style="width: 264px; margin-right: 30px;"><div>
												<a href="#" class="text-decoration-none">
													<div class="card custom-card-style-1 box-shadow-4 my-3">
														<div class="card-body p-3">
															<div class="thumb-info thumb-info-hide-wrapper-bg mb-3 pb-2">
																<div class="thumb-info-wrapper">
																	<img src="img/demos/startup-agency/authors/author-3.jpg" class="img-fluid" alt="John Doe">
																</div>
															</div>
															<h3 class="text-center font-weight-bold text-capitalize line-height-1 text-5 text-color-hover-primary mb-0">John Doe</h3>
															<p class="text-center text-color-grey text-3 mb-2">CEO &amp; Founder</p>
														</div>
													</div>
												</a>
											</div></div><div class="owl-item active" style="width: 264px; margin-right: 30px;"><div>
												<a href="#" class="text-decoration-none">
													<div class="card custom-card-style-1 box-shadow-4 my-3">
														<div class="card-body p-3">
															<div class="thumb-info thumb-info-hide-wrapper-bg mb-3 pb-2">
																<div class="thumb-info-wrapper">
																	<img src="img/demos/startup-agency/authors/author-1.jpg" class="img-fluid" alt="John Doe">
																</div>
															</div>
															<h3 class="text-center font-weight-bold text-capitalize line-height-1 text-5 text-color-hover-primary mb-0">John Doe</h3>
															<p class="text-center text-color-grey text-3 mb-2">CEO &amp; Founder</p>
														</div>
													</div>
												</a>
											</div></div><div class="owl-item" style="width: 264px; margin-right: 30px;"><div>
												<a href="#" class="text-decoration-none">
													<div class="card custom-card-style-1 box-shadow-4 my-3">
														<div class="card-body p-3">
															<div class="thumb-info thumb-info-hide-wrapper-bg mb-3 pb-2">
																<div class="thumb-info-wrapper">
																	<img src="img/demos/startup-agency/authors/author-2.jpg" class="img-fluid" alt="John Doe">
																</div>
															</div>
															<h3 class="text-center font-weight-bold text-capitalize line-height-1 text-5 text-color-hover-primary mb-0">John Doe</h3>
															<p class="text-center text-color-grey text-3 mb-2">CEO &amp; Founder</p>
														</div>
													</div>
												</a>
											</div></div><div class="owl-item cloned" style="width: 264px; margin-right: 30px;"><div>
												<a href="#" class="text-decoration-none">
													<div class="card custom-card-style-1 box-shadow-4 my-3">
														<div class="card-body p-3">
															<div class="thumb-info thumb-info-hide-wrapper-bg mb-3 pb-2">
																<div class="thumb-info-wrapper">
																	<img src="img/demos/startup-agency/authors/author-1.jpg" class="img-fluid" alt="John Doe">
																</div>
															</div>
															<h3 class="text-center font-weight-bold text-capitalize line-height-1 text-5 text-color-hover-primary mb-0">John Doe</h3>
															<p class="text-center text-color-grey text-3 mb-2">CEO &amp; Founder</p>
														</div>
													</div>
												</a>
											</div></div><div class="owl-item cloned" style="width: 264px; margin-right: 30px;"><div>
												<a href="#" class="text-decoration-none">
													<div class="card custom-card-style-1 box-shadow-4 my-3">
														<div class="card-body p-3">
															<div class="thumb-info thumb-info-hide-wrapper-bg mb-3 pb-2">
																<div class="thumb-info-wrapper">
																	<img src="img/demos/startup-agency/authors/author-2.jpg" class="img-fluid" alt="John Doe">
																</div>
															</div>
															<h3 class="text-center font-weight-bold text-capitalize line-height-1 text-5 text-color-hover-primary mb-0">John Doe</h3>
															<p class="text-center text-color-grey text-3 mb-2">CEO &amp; Founder</p>
														</div>
													</div>
												</a>
											</div></div><div class="owl-item cloned" style="width: 264px; margin-right: 30px;"><div>
												<a href="#" class="text-decoration-none">
													<div class="card custom-card-style-1 box-shadow-4 my-3">
														<div class="card-body p-3">
															<div class="thumb-info thumb-info-hide-wrapper-bg mb-3 pb-2">
																<div class="thumb-info-wrapper">
																	<img src="img/demos/startup-agency/authors/author-3.jpg" class="img-fluid" alt="John Doe">
																</div>
															</div>
															<h3 class="text-center font-weight-bold text-capitalize line-height-1 text-5 text-color-hover-primary mb-0">John Doe</h3>
															<p class="text-center text-color-grey text-3 mb-2">CEO &amp; Founder</p>
														</div>
													</div>
												</a>
											</div></div><div class="owl-item cloned" style="width: 264px; margin-right: 30px;"><div>
												<a href="#" class="text-decoration-none">
													<div class="card custom-card-style-1 box-shadow-4 my-3">
														<div class="card-body p-3">
															<div class="thumb-info thumb-info-hide-wrapper-bg mb-3 pb-2">
																<div class="thumb-info-wrapper">
																	<img src="img/demos/startup-agency/authors/author-1.jpg" class="img-fluid" alt="John Doe">
																</div>
															</div>
															<h3 class="text-center font-weight-bold text-capitalize line-height-1 text-5 text-color-hover-primary mb-0">John Doe</h3>
															<p class="text-center text-color-grey text-3 mb-2">CEO &amp; Founder</p>
														</div>
													</div>
												</a>
											</div></div></div></div><div class="owl-nav disabled"><button type="button" role="presentation" class="owl-prev"></button><button type="button" role="presentation" class="owl-next"></button></div><div class="owl-dots"><button role="button" class="owl-dot active"><span></span></button><button role="button" class="owl-dot"><span></span></button></div></div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="shape-divider shape-divider-bottom z-index-0" style="height: 260px;">
						<svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 2000 260" preserveAspectRatio="xMinYMin">
							<circle class="custom-svg-fill-color-secondary" fill="#504BFD" opacity="0.2" cx="2007.7" cy="208.3" r="140.7"></circle>
							<circle class="custom-svg-fill-color-secondary" fill="#5349FF" opacity="0.2" cx="1975.78" cy="247.18" r="148.13"></circle>
							<path fill="#FFFFFF" d="M-42,42c21.03-0.71,49.03-1.3,82-1c10.06,0.09,73,0.78,147,7c95.4,8.01,191.25,23.7,278,40
								c188.62,35.43,247.14,57.2,353,79c102.08,21.02,252.74,44.36,445,46c0,22.68,0,45.35,0,68.03c-433.33,0-866.67,0-1300,0
								C-38.67,201.35-40.33,121.68-42,42z"></path>
							<path class="custom-svg-fill-color-secondary" fill="#504BFD" d="M-39,233c18.45-5.57,45.76-13.68,79-23c65.89-18.48,100.28-28.12,140-36c64.67-12.83,115.09-15.35,151-17
								c72.37-3.33,126.81,0.97,200,7c21.78,1.79,35.05,3.15,147,16c185.79,21.33,205.66,24.08,252,27c85.5,5.38,150.46,4.35,168,4
								c48.7-0.96,73.47-3.33,246-19c174.43-15.84,185.89-16.75,211-18c76.46-3.81,133.48-3.48,217-3c83.26,0.48,125.58,2.59,166,6
								c37.33,3.15,68.3,7,90,10c0,28.67,0,57.35,0,86.02c-688.33,0-1376.67,0-2065,0C-37.67,259.68-38.33,246.34-39,233z"></path>
						</svg>
					</div>
				</section>